# PUBLIC URL (CLIENT)
NEXT_PUBLIC_API_URL=http://localhost:3000

# DATABASE URL
DATABASE_URL=postgresql://ronyortiz:@localhost:5432/saasimage?schema=public

# BETTER AUTH
BETTER_AUTH_SECRET=QLepzFBEF461I5zpUKEBCA7o07hfhPX6
BETTER_AUTH_URL=http://localhost:3000

# POLAR
POLAR_ACCESS_TOKEN=polar_oat_GLV8fods3S5pHWwSJE8QnTYmPu6jx9fkXJ99I3khOB4
POLAR_WEBHOOK_SECRET=polar_whs_5OEitgfb9DZeu36rb6SZDDeOPnNopftfqLLRC0qziwg
